# Dask DataFrame

 - Dask is a flexible library for parallel computing using Python.
 - Besides other powerful tools, we'll focus on Dask DataFrame. 
 - It reuses a lot of pandas code but it extends it to a larger scale. 
 - A Dask DataFrame is a large parallel DataFrame composed of many smaller Pandas DataFrames, split along an index

In [1]:
from IPython.display import Image
from IPython.core.display import HTML

In [2]:
Image(url="http://dask.pydata.org/en/latest/_images/dask-dataframe.svg",width=400)

### Reading the data - National Food Survey UK 

The National Food Survey (NFS), which closed in 2000, was the longest-running continuous survey of household food consumption and expenditure in the world. It was originally set up in 1940 by the then Ministry of Food to monitor the adequacy of the diet of urban 'working class' households in wartime, but it was extended in 1950 to become representative of households throughout Great Britain (the UKDA holds NFS data from 1974-2000 only). 
- Information: https://www.gov.uk/government/statistics/family-food-open-data
- Source: http://britains-diet.labs.theodi.org/data/

We have a zip file that contains all the .csv files that we'll read.

In [3]:
import zipfile

zf = zipfile.ZipFile('Data/nfs.zip')
zf.extractall(path='Data/')

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('Data/nfs/NFS_2000.csv')
df

,hhno,fditemno,logday,pv,minfd,cq,pf,styr,stmth,memhh,adltm,adltf,child,oaps,adltgt64
0,261119,27,6,36,31901,6.77,1,2000,1,1,1,0,0,0,0
1,261119,28,6,49,26001,28.21,1,2000,1,1,1,0,0,0,0
2,261119,29,7,58,1503,1.75,1,2000,1,1,1,0,0,0,0
3,261119,30,7,49,26001,28.21,1,2000,1,1,1,0,0,0,0
4,261119,31,7,250,7301,32.00,1,2000,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237419,267819,20,4,149,15503,176.36,1,2000,12,4,1,1,2,0,0
237420,267819,21,4,36,404,1.00,1,2000,12,4,1,1,2,0,0
237421,267819,22,6,72,404,2.00,1,2000,12,4,1,1,2,0,0
237422,267819,23,6,59,25701,28.21,1,2000,12,4,1,1,2,0,0
237423,267819,24,7,36,404,1.00,1,2000,12,4,1,1,2,0,0

 ### Some variables from the dataset
 - hhno : household id
 - styr : year column
 - minfd : identifier of food category
 - cq: consumption
 - memhh : number of members of the household

As usual, we can do pandas operations...

In [6]:
df.groupby('minfd').minfd.count()

minfd
402        48
403       272
404      7065
501       130
601      1148
         ...
38501      89
38601     162
38701     384
38801      43
38901      90
Name: minfd, Length: 242, dtype: int64

In [7]:
df.groupby('minfd').cq.mean()

minfd
402         4.890625
403         2.620147
404         2.684357
501         2.416846
601         0.402892
            ...
38501      99.323596
38601      91.135802
38701      75.584167
38801      67.465116
38901    1133.055556
Name: cq, Length: 242, dtype: float64

## What can we do with Dask ?

Most of the functions are part of pandas dataframe API: https://docs.dask.org/en/latest/dataframe-api.html

Some examples of parallelizable operations (fast):

- Elementwise operations: `df.x + df.y, df * df`
- Row-wise selections: `df[df.x > 0]`
- Loc: `df.loc[4.0:10.5]`
- Common aggregations: `df.x.max(), df.max()`
- Is in: `df[df.x.isin([1, 2, 3])]`

In [8]:
import dask
import dask.dataframe as dd

In [9]:
# Notice that we are reading ALL csv files. 
df = dd.read_csv("Data/nfs/NFS*.csv")

Notice that:
- Nothing yet is loaded in to memory
- Meta-information from pandas is available

In [10]:
# DataFrame.head is one operation that is not lazy
df.head(5)

,hhno,fditemno,logday,pv,minfd,cq,pf,styr,stmth,memhh,adltm,adltf,child,oaps,adltgt64
0,20001,1,1,6,401,1.0,1,1974,1,4,1,1,2,0,0
1,20001,2,1,11,25201,28.0,1,1974,1,4,1,1,2,0,0
2,20001,3,1,50,12901,12.0,1,1974,1,4,1,1,2,0,0
3,20001,4,1,26,24001,12.0,1,1974,1,4,1,1,2,0,0
4,20001,5,1,11,30401,4.0,1,1974,1,4,1,1,2,0,0

- styr : year column
- minfd : identifier of food category

###  Partitions

- By default the data is partitioned by each file
- In our case, this is good. The files have a natural partition

In [11]:
df.npartitions
# Number of. CSV files

27

In [12]:
df.known_divisions

False

In [13]:
df = df.set_index('styr', sorted=True)

In [14]:
df.known_divisions

True

In [15]:
df.head()

,hhno,fditemno,logday,pv,minfd,cq,pf,stmth,memhh,adltm,adltf,child,oaps,adltgt64
styr,,,,,,,,,,,,,,
1974,20001,1,1,6,401,1.0,1,1,4,1,1,2,0,0
1974,20001,2,1,11,25201,28.0,1,1,4,1,1,2,0,0
1974,20001,3,1,50,12901,12.0,1,1,4,1,1,2,0,0
1974,20001,4,1,26,24001,12.0,1,1,4,1,1,2,0,0
1974,20001,5,1,11,30401,4.0,1,1,4,1,1,2,0,0

In [16]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 14 entries, hhno to adltgt64
dtypes: float64(1), int64(13)

In [17]:
df.divisions

(1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2000)

## Fast access to subsets of data

In [18]:
df.loc[2000]

Dask DataFrame Structure:
                hhno fditemno logday     pv  minfd       cq     pf  stmth  memhh  adltm  adltf  child   oaps adltgt64
npartitions=1
2000           int64    int64  int64  int64  int64  float64  int64  int64  int64  int64  int64  int64  int64    int64
2000             ...      ...    ...    ...    ...      ...    ...    ...    ...    ...    ...    ...    ...      ...
Dask Name: loc, 82 tasks

However, this IS a lazy operation. So, we need to add `compute()`.

In [19]:
df.loc[2000].compute()

,hhno,fditemno,logday,pv,minfd,cq,pf,stmth,memhh,adltm,adltf,child,oaps,adltgt64
styr,,,,,,,,,,,,,,
2000,261119,27,6,36,31901,6.77,1,1,1,1,0,0,0,0
2000,261119,28,6,49,26001,28.21,1,1,1,1,0,0,0,0
2000,261119,29,7,58,1503,1.75,1,1,1,1,0,0,0,0
2000,261119,30,7,49,26001,28.21,1,1,1,1,0,0,0,0
2000,261119,31,7,250,7301,32.00,1,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,267819,20,4,149,15503,176.36,1,12,4,1,1,2,0,0
2000,267819,21,4,36,404,1.00,1,12,4,1,1,2,0,0
2000,267819,22,6,72,404,2.00,1,12,4,1,1,2,0,0
2000,267819,23,6,59,25701,28.21,1,12,4,1,1,2,0,0
2000,267819,24,7,36,404,1.00,1,12,4,1,1,2,0,0

In [20]:
len(df)

8338857

In [21]:
df.groupby('minfd').minfd.count().nlargest(10).compute()  # aggregation API is fast

minfd
401      464128
404      303117
27001    165568
12901    164029
1503     158015
21701    157175
25201    148183
17801    147401
27401    142734
17501    113490
Name: minfd, dtype: int64

In [22]:
minfd = 401

In [23]:
import pandas as pd
food_mapping = pd.read_csv("Data/food_mapping.csv", index_col='minfd')

In [24]:
food_mapping

,minfddesc,majfd,majfddesc,Coded unit,fdgp,fd gp description
minfd,,,,,,
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4005.0,"LIQUID WHOLEMILK, FULL PRICE & WELFARE"
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4006.0,"LIQUID WHOLEMILK, INC SCHOOL & WELFARE"
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4017.0,TOTAL MILK AND CREAM
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4023.0,"TOTAL MILK, CREAM AND CHEESE"
402,"UHT LIQUID MILK, FULL PRICE",4,"LIQUID WHOLEMILK, FULL PRICE",pt,4005.0,"LIQUID WHOLEMILK, FULL PRICE & WELFARE"
...,...,...,...,...,...,...
38701,SPIRITS,387,SPIRITS,cl,384388.0,"WINES, SPIRITS AND LIQUEURS"
38801,LIQUEURS AND COCKTAILS,388,LIQUEURS,cl,380389.0,ALCOHOLIC DRINKS
38801,LIQUEURS AND COCKTAILS,388,LIQUEURS,cl,384388.0,"WINES, SPIRITS AND LIQUEURS"
38901,ALCOHOLIC CARBONATES,389,ALCOHOLIC CARBONATES,ml,380389.0,ALCOHOLIC DRINKS
38901,ALCOHOLIC CARBONATES,389,ALCOHOLIC CARBONATES,ml,389389.0,ALCOHOLIC CARBONATES

#### What was the most consumed food group in 1974? 
#### What was the most consumed food group overall?

In [25]:
df_1974 = df.loc[1974]

In [26]:
top_74 = df_1974.minfd.value_counts().nlargest(10).compute()

In [27]:
top_74

401      50031
25201    12374
12901     9406
27001     8540
5501      8082
27402     7807
21701     7136
15001     7000
17801     6479
30401     5709
Name: minfd, dtype: int64

In [28]:
food_mapping.loc[401]
#food_mapping.loc[25201]
#food_mapping.loc[12901]

,minfddesc,majfd,majfddesc,Coded unit,fdgp,fd gp description
minfd,,,,,,
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4005.0,"LIQUID WHOLEMILK, FULL PRICE & WELFARE"
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4006.0,"LIQUID WHOLEMILK, INC SCHOOL & WELFARE"
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4017.0,TOTAL MILK AND CREAM
401,MILK LIQUID FULL PRICE,4,"LIQUID WHOLEMILK, FULL PRICE",pt,4023.0,"TOTAL MILK, CREAM AND CHEESE"

In [29]:
top = df.minfd.value_counts().nlargest(10).compute()

In [30]:
top

401      464128
404      303117
27001    165568
12901    164029
1503     158015
21701    157175
25201    148183
17801    147401
27401    142734
17501    113490
Name: minfd, dtype: int64

### map_partitions
- Map partitions does what you might expect
- Maps a function across partitions
- Let's calculate the most frequently purchase food group for each year

In [31]:
def most_frequent_food(partition):
    # partition is a pandas.DataFrame
    minfd = partition.minfd.value_counts().nlargest(1).index[0]
    description = food_mapping.loc[minfd].minfddesc.iloc[0]
    year = int(partition.index[0])
    return pd.DataFrame({'year': [year], 'description': [description]})

In [32]:
mnfd_year = df.map_partitions(most_frequent_food, 
                              meta={'year': int,
                                    'description': str})

In [33]:
mnfd_year.compute()

   year                    description
0  1974       MILK  LIQUID  FULL PRICE
0  1975       MILK  LIQUID  FULL PRICE
0  1976       MILK  LIQUID  FULL PRICE
0  1977       MILK  LIQUID  FULL PRICE
0  1978       MILK  LIQUID  FULL PRICE
0  1979       MILK  LIQUID  FULL PRICE
0  1980       MILK  LIQUID  FULL PRICE
0  1981       MILK  LIQUID  FULL PRICE
0  1982       MILK  LIQUID  FULL PRICE
0  1983       MILK  LIQUID  FULL PRICE
0  1984  OTHER LIQUID MILK, FULL PRICE
0  1985  OTHER LIQUID MILK, FULL PRICE
0  1986  OTHER LIQUID MILK, FULL PRICE
0  1987  OTHER LIQUID MILK, FULL PRICE
0  1988  OTHER LIQUID MILK, FULL PRICE
0  1989  OTHER LIQUID MILK, FULL PRICE
0  1990  OTHER LIQUID MILK, FULL PRICE
0  1991  OTHER LIQUID MILK, FULL PRICE
0  1992  OTHER LIQUID MILK, FULL PRICE
0  1993  OTHER LIQUID MILK, FULL PRICE
0  1994   SEMI AND OTHER SKIMMED MILKS
0  1995   SEMI AND OTHER SKIMMED MILKS
0  1996   SEMI AND OTHER SKIMMED MILKS
0  1997   SEMI AND OTHER SKIMMED MILKS
0  1998   SEMI AND OTHER SKIMMED MILKS
0  1999   SEMI AND OTHER SKIMMED MILKS
0  2000   SEMI AND OTHER SKIMMED MILKS