# Python Fundamentals

This notebook provides a brief explanation of Python Fundamentals. Specifically we will cover what are objects, strings, sequences and dictonaries. Some of content here is based on Jupyter Notebooks developed by [Sergio Rey](https://sergerey.org/) and [Cyber GIS at UIUC](https://cybergisxhub.cigi.illinois.edu/notebook/introduction-to-python-programming/). 


# Notebook Outline

- [Objects and Strings](#Objects-and-Strings)
- [Printing](#Printing-in-Python)
- [White Spaces and Indentation](#White-Spaces-and-Indentation)
- [Lists](#Lists)
- [Tuples](#Tuples)
- [Dictonaries](#Dictonaries)
- [Importing Libraries](#Importing-Libraries)

## Objects and Strings

Everthing in Python is an object/variable. And we can assign any type of data to any variable.
An object in python is a case-sensitive, and objects will have mainly three three properties:
- type
- value
- id

In [ ]:
# let's create an object based on a text: (you can use double or single quotes)

s = 'this is a string'

In [ ]:
# check type: 
type(s)

In [ ]:
# check id
id(s)

We know that the object is a string (or text). But there are so many other object types. For example: Boolean (Logical values, True/False), Integers, Float (Real number).

In [ ]:
a=True

In [ ]:
type(a)

In [ ]:
c=1.2

In [ ]:
type(c)

In [ ]:
b = 5

In [ ]:
type(b)

In [ ]:
#we can get the value when we excecute the name of the object
s

In [ ]:
# Use Jypyter as a calculator:
2+3

In [ ]:
# or name an object:
x=2+3

In [ ]:
x

In [ ]:
# now, going back to our 's' object:
s

In [ ]:
# select the first 6 elements (we start counting from 0 to 5th = 6 elements)
s[:6]

In [ ]:
# select froms position 1 to the end (omit element in position zero)
s[1:]

In [ ]:
s[0]

In [ ]:
len(s)

In [ ]:
s[-1]

In [ ]:
s[-2]

In [ ]:
s[1:7]

In [ ]:
# the last 5 elements
s[-5:]

In [ ]:
# List of thing that we can do:
dir(s)

In [ ]:
s.split()

In [ ]:
s.center(30)

In [ ]:
s.count('i')

In [ ]:
s.find('a')

In [ ]:
s.upper()

In [ ]:
# what if I need to change one character inside a string?

#s[3]='S   # this will fail!

In [ ]:
# A simple way is just rewrite the entire string
updated = 's iS a string'

In [ ]:
# Another way to do it:
# let's define two names that we will insert in another string:
first1= "Kevin"
last1 = 'Smith'
first2 = "Mike"
last2 = "Gonzalez"

In [ ]:
# we need to include brackets to insert what we want:
sentence = "{} {} and {} {} are friends.".format(first1,last1, first2,last2)
sentence

We can do that in another way, by using f-strings

Also called “formatted string literals,” f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [ ]:
sentence2 = f"this is an f-string, and we can insert the names of {first1} {last1} and {first2} {last2}"
sentence2

## Printing in Python

In [ ]:
print('Hi World!')

In [ ]:
print(s)

## White Spaces and Indentation

In [ ]:
# these are all equivalent
a=3 #comment
a =  3   # comment
a =     3     # comment

In [ ]:
# this works
a = 2
b = 3

Indentation is important in Python. You can add it by using `tab`

In [ ]:
# this will fail
a = 2
    b = 3

In [ ]:
# this also fails
    a = 2
    b = 3

In [ ]:
# example of indented block
a = 2
if a:
    print('a exists')

In [ ]:
# multiple indentaton levels:
a = 2
if a:
    print('a exists')
b = 3
if b:
    print('b exists')

if a:
    if b:
        print('a and b exist')

In [ ]:
# this works too. Why is highlighted in red?
a = 2
if a:
  print('a exists')
b = 3
if b:
  print ('b exists')

In [ ]:
# Indentation should be consistent inside the clode bock
a = 2
if a:
    print ('a exists')
        print ('not sure if b exists')

# Lists

## Characteristics

- heterogeneous elements
- nestable
- mutable

In [ ]:
# lists are created using square brackets
mylist = [1, 2, 3]
mylist

In [ ]:
type(mylist)

In [ ]:
# A list can have intergers and alphanumeric characters:
x = ['a',1,'b',2]

### Subset and Slicing

- First element is zero (0,1,2...)
- We can also count backwards, using negative indexes.

In [ ]:
# this will give us the first element
x[0]

In [ ]:
x[1]

In [ ]:
# last element
x[-1]

In [ ]:
x[-2]

Slicing allows us to select multiple items on a list. We need to use `:` to specify a range:

In [ ]:
# for example, this will return the list from item indexed as 1 (2nd position) to item index n.2.
# Note: The last number in the range is EXCLUDED!
x[1:3]

In [ ]:
# if we omit the start, then python will assume we want to start from index 0:
x[:3]

In [ ]:
# all but the first element
x[1:]

In [ ]:
x[1:-1]

We can remove an element of the list, with the 'del' statement as follows:

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
print(a)
del a[0]
print(a)

In [ ]:
# we can use del to remove the entire list:
del a

### Nestable

We can have a list of lists!

In [ ]:
mylist

In [ ]:
x

In [ ]:
# create y as a nested list from mylist and x:
y = [mylist, x]
y

In [ ]:
# length of y?

In [ ]:
# lenght of first element of y
len(y[0])

In [ ]:
len(y[1])

In [ ]:
y[0][1]

In [ ]:
y[1][0]

### Mutable

In [ ]:
y

In [ ]:
# we can replace the first element of the first list inside y: 
y[0][0]='hi!'

In [ ]:
y

In [ ]:
y[1][0]='A'

In [ ]:
y

### Operations with lists:

In [ ]:

a = [1,'hi','world']
b = a+a

In [ ]:
b

In [ ]:
c = a*4

In [ ]:
c

### Some functions:

In [ ]:
# Some functions: 
x = [1,4,7,12]

In [ ]:
len(x)

In [ ]:
max(x)

In [ ]:
min(x)

### Lists methods:

In [ ]:
# append
x.append(15)

In [ ]:
x

In [ ]:
y=10

In [ ]:
x.append(y)

In [ ]:
x

In [ ]:
# we can also use extend... but
# This will not work, why? 
z=15
x.extend(z)

In [ ]:
# we need z to be a list before using extend:
z=[15]
x.extend(z)

In [ ]:
x

In [ ]:
# the use of extend versus append will depend on your needs
x.append(z)

In [ ]:
x

In [ ]:
# sort: 
x=[15,4,20]
x.sort()
x

note that append, extend and sort are in-place methods, meaning that they modify the object.
if we want to preserve the original object, we need to create a new one as following:

In [ ]:
x = [15,4,20]

In [ ]:
z= sorted(x)
z

In [ ]:
x

In [ ]:
# count
x.count(4)

In [ ]:
4 in x

In [ ]:
x.remove(4)

In [ ]:
x

In [ ]:
x.pop?

In [ ]:
#The pop() method removes the item at the given index from the list and returns the removed item.
# default is last index
x.pop()

In [ ]:
x

In [ ]:
x.pop()

In [ ]:
x

# Tuples

## Characteristics

- similar to lists
- exception: immutable

In [ ]:
# tuples are created using parentheses
t= (1,2,'a','b')

In [ ]:
t

In [ ]:
# or just:
t= 1,2,'a','b'

t

In [ ]:
# you can't add a value to a tuple
t.append(4)
# this won't work

In [ ]:
# But you can nest a value creating a new tuple.
newtuple = (t, 4)
newtuple

In [ ]:
# immutability:
t[0]

In [ ]:
t[0]='A'

In [ ]:
#Note that while the tuple is immutable, 
# if it contains any elements that are mutable we can change the elements of the mutable elements of the tuple.
s = [1,2,3]  # list  ==> mutable
# we can create a new tuple like this one:
t = 'a',s
t

In [ ]:
# we can replace a value in the part that is allowed:
t[1][0]=3

In [ ]:
#but not in the first element (since it is immutable)
t[0][0]=3

### Converting between lists and tuples

In [ ]:
t = 'a', 'b', 'c'
t

In [ ]:
l = list(t)
l

In [ ]:
t1 = tuple(l)
t1

# Dictonaries

A dictionary consists of a collection of key-value pairs. Each key-value pair maps the **key** to its associated **value**.

* key : value 
* unordered

In [ ]:
# dictonaries are created using curly braces
d={}

In [ ]:
d['first']=1
d

In [ ]:
d['second']=2

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
#here is another example of a dictonary:
pet_list = {'alice':'cat', 'becky':'cat', 'mark': 'parrot', 'dan':'dog'}
pet_list

In [ ]:
pet_list.keys()

In [ ]:
pet_list.values()

In [ ]:
pet_list.items()

In [ ]:
# delete a key/value pair
if 'alice' in pet_list.keys():
    del pet_list['alice']
pet_list

In [ ]:
# Another example of how to create a dictonary from keys and values:
days = 'mon','tue','wed','thu','fri','sat'

In [ ]:
ids = range(len(days))

In [ ]:
ids

In [ ]:
day_id=dict(zip(days,ids))

In [ ]:
day_id

In [ ]:
lastday = {'sun':6}

In [ ]:
day_id.update(lastday)

In [ ]:
day_id

# Importing Libraries

In [ ]:
import numpy as np # call numpy using np
from math import sqrt # just import square root function from math library
from math import factorial as fac # just import factorial function from math